body {
    color: white;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

#AllClassesTitle {
    margin-top: 70px;
    margin-left: 50px;
}

.classesWidget {
    margin: 60px;
    padding: 40px;
    background-color: #0000006a;
    color: white;
    letter-spacing: 4px;
}

.rowClasses {
    display: flex;
    justify-content: space-between;
}

#peopleAttendImage {
    width: 30px;
    height: 30px;
}

#peopleAttend {
    border: 3px solid white;
    padding: 10px;
}

.buttonn {
    font-size: 21px;
    padding-top: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

#allSeats {
    border: 3px solid white;
    padding: 10px;
}