body {
    color: white;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

#AllClassesTitle {
    margin-top: 70px;
    margin-left: 50px;
}

.classesWidget {
    margin: 60px;
    padding: 40px;
    background-color: white;
    color: black;
    letter-spacing: 4px;
    border-radius: 15px;
}

.startsDate{
    margin-bottom: 40px;
}

.rowClasses {
    display: flex;
    justify-content: space-between;
}

#durationImage {
    width: 30px;
    height: 30px;
}

#duration {
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
}

#peopleAttendImage {
    width: 30px;
    height: 30px;
}

#peopleAttend {
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
}

.buttonn {
    font-size: 23px;
    padding-top: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

#durationImage {
    width: 30px;
    height: 30px;
}

#duration {
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
}

#allSeats {
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
}

.moreInfo {
    font-size: 21px;
}

#subscribedLabel {
    color: #1bde00;
    padding: 10px;
    border: 3px solid #1bde00;
    letter-spacing: 3px;
    font-weight: 600;
}
