
body {
    color: white;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
}

.delimiter {
    padding: 30px;
}

#titlePart {
    border-bottom: 2px solid black;
}

#descPart {
    border-bottom: 2px solid black;
}

#date{
    font-size: 23px;
}

.classesWidget {
    margin: 60px;
    padding: 40px;
    background-color: white;
    color: black;
    border-radius: 15px; 
}

#durationImage {
    width: 30px;
    height: 30px;
}

#duration {
    border: 3px solid black;
    padding: 10px;
}

#peopleAttendImage {
    width: 30px;
    height: 30px;
}

#peopleAttend {
    border: 3px solid black;
    padding: 10px;
}

#allSeats {
    border: 3px solid black;
    padding: 10px;
    letter-spacing: 4px;
}

.Row {
    display: flex;
    justify-content: space-between;
}

.buttonn {
    font-size: 21px;
    padding-top: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

#subscribedLabel {
    color: black;
    padding: 10px;
    border: 3px solid black;
    letter-spacing: 3px;
    font-weight: 600;
}

#price {
    margin-top: 10px;
    margin-right: 20px;
}