body{
    color: white;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

#AllEventsTitle {
    margin-top: 70px;
    margin-left: 50px;
}

.eventsWidget {
    margin: 60px;
    padding: 40px;
    background-color: #0000006a;
    color: white;
    letter-spacing: 4px;
}

.rowEvents {
    display: flex;
    justify-content: space-between;
}

#peopleAttendImage {
    width: 30px;
    height: 30px;
}

#peopleAttend {
    border: 3px solid white;
    padding: 10px;
}

.buttonn {
    font-size: 21px;
    padding-top: 5px;
}