@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');


* {
    font-family: 'Arimo', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

#logoName {
    width: 20%;
    margin-left: 130px;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.nav-link {
    font-size: 16px;
    letter-spacing: 1px;
}

#navBarToggler {
    width: 150px;
    height: 150px;
}

