@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');


* {
    font-family: 'Arimo', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(24, 24, 24);
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.navbar {
    padding: 0px;
    padding-top: 10px; 
}

.nav-link {
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
}

    .navbar-nav a {
        font-size: 16px;
        letter-spacing: 3px;
        text-decoration: none;
        color: white;
    }

#navBarToggler {
    width: 200px;
    height: 200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#dropdownMenuLink {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    letter-spacing: 3px;
    font-family: 'Arimo', sans-serif;
}


#logoName {
    margin-left: 80px;
    width: 130px;
}
