@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');


* {
    font-family: 'Arimo', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(40, 40, 40)
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.navbar {
    padding: 0px;
    padding-top: 10px;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 3px;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
}

    .navbar-nav a {
        letter-spacing: 3px;
        text-decoration: none;
        color: white;
    }

#navBarToggler {
    width: 250px;
    height: 250px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#dropdownMenuLink {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    letter-spacing: 3px;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    
}

.dropdown-item {
    width: 215px;
}


#logoName {
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 100px
}

@media (max-width: 2000px) {
    #logoName {
        font-size: 18px;
    }

    .navbar-nav a {
        font-size: 18px;
    }

    #dropdownMenuLink{
        font-size: 18px;
    }
}

@media (max-width: 1500px) {
    #logoName {
        font-size: 16px;
    }

    .navbar-nav a {
        font-size: 16px;
    }

    #dropdownMenuLink {
        font-size: 16px;
    }
}
