* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #404040;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    margin-bottom: 110px;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}


.text a{
    display: inline-block;

    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

@media (max-width: 2000px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 6em;
    }

    .text h3 {
        font-size: 4em;
    }

    .text a {
        font-size: 25px;
    }

    dropdown:hover .dropdown-menu {
        font-size: 16px;
    }

    #dropdownMenuLink {
        width: 301px;
    }

    .btn {
        width: 350px;
    }
}

@media (max-width: 1500px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 5em;
    }

    .text h3 {
        font-size: 4em;
    }

    .text a {
        font-size: 18px;
    }

    dropdown:hover .dropdown-menu {
        font-size: 16px;
    }

    #dropdownMenuLink {
        width: 245px;
    }

    .btn {
        width: 230px;
    }
}

#logo {
    width: 40%;
    height: auto;
}

#login {
    --accent-color: #fa8e00;
}

#register {
    --accent-color: #00406e;
}

.btn {
    background-color: var(--background-color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    --background-color: #E3E3E3;
    --border-size: 2px;
   

}

    .btn.btn-border-pop::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border: var(--border-size) solid var(--background-color);
        transition: top, left, right, bottom, 400ms ease-in-out;
    }

    .btn.btn-border-pop:hover::before,
    .btn.btn-border-pop:focus::before {
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
        
    }

    .btn.btn-background-slide::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: var(--accent-color);
        transition: transform 400ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
    }

    .btn.btn-background-slide:hover::before,
    .btn.btn-background-slide:focus::before {
        transform: scaleX(1);
    }

    .btn.btn-background-slide {
        transition: color 400ms ease-in-out;
        z-index: 1;
    }


        .btn.btn-background-slide:hover,
        .btn.btn-background-slide:focus {
            color: white;
            letter-spacing: 7px;
            transition: 400ms ease-in-out;
            font-weight: 600;
        }


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


.dropdown {
    display: inline-block;
}
