@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<link rel="stylesheet" href="~/css/ProfilePage.css" />

<div id="wholeContent">
    <form method="post" enctype="multipart/form-data">
        <div id="rowPic">
            <label id="profilePictureDiv" for="imageInput">
                <div class="image-container">
                    @if (string.IsNullOrWhiteSpace(Model.Input.ApplicationUser.ProfilePicture))
                    {
                        <img src="~/Profile Pics/defaultProfileImage.jpg" id="profilePic" />
                    }
                    else
                    {
                        <img src="~/Profile Pics/@Model.Input.ApplicationUser.ProfilePicture" id="profilePic" />
                    }
                    <img class="after" src="~/Images/Camera.jpg" \>
                </div>
            </label>
            <input id="imageInput" hidden asp-for="@Model.Input.Image" onclick="ShowSave()" />
            <div id="name">
                @Model.Input.ApplicationUser.FirstName @Model.Input.ApplicationUser.LastName
                <div id="email">
                    @Model.Input.ApplicationUser.Email
                </div>
            </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Input.ApplicationUser.ProfilePicture))
        {
            <div>
                <a id="removeButton" type="submit" href="/Users/RemoveProfileImage?userId=@Model.Input.ApplicationUser.Id" class="btn btn-warning">REMOVE</a>
            </div>
        }
        <button id="saveButton" type="submit" class="btn" hidden>SAVE</button>
        <input id="dismissButton" type="reset" class="btn" hidden onclick="HideSave()" value="DISMISS" \>
    </form>
</div>

<script>

    imageInput.onchange = evt =>
        {
      const [file] = imageInput.files
      if (file) {
        profilePic.src = URL.createObjectURL(file)
      }
    }

    function ShowSave()
    {
        var saveButton = document.getElementById('saveButton');
        var dismissButton = document.getElementById('dismissButton');

        saveButton.hidden = false;
        dismissButton.hidden = false;
    }

    function HideSave()
    {
        var saveButton = document.getElementById('saveButton');
        var dismissButton = document.getElementById('dismissButton');

        saveButton.hidden = true;
        dismissButton.hidden = true;

        location.reload();
    }
</script>
