@model Ignite.Models.ParentModels.AllEventsParentModel

<link rel="stylesheet" href="~/css/AdminEvents.css" />

<div id="AddWidget" class="col-6">
    <h2 id="addTitle">Add Event</h2>

    <form action="/Administration/AdminEvents/AddEvents" method="post"  asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="AddEventInputModel.Name" class="form-label"></label>
        <input asp-for="AddEventInputModel.Name" class="form-control form-control1" aria-required="true" placeholder="Name" />

        <label asp-for="AddEventInputModel.Address" class="form-label"></label>
        <input asp-for="AddEventInputModel.Address" class="form-control form-control1" aria-required="true" placeholder="Address" />

        <br \>

        <label asp-for="AddEventInputModel.Description" class="form-label"></label>
        <br \>
        <textarea asp-for="AddEventInputModel.Description" class="form-control form-control1"></textarea>
        <br \>

        <label asp-for="AddEventInputModel.StartingDateTime" class="form-label">Start Date & Time</label>
        <input asp-for="AddEventInputModel.StartingDateTime" class="form-control" value=@DateTime.Now />

        <button id="addButton" type="submit" class="w-100 btn btn-background-slide btn-lg btn-primary">ADD</button>
    </form>
</div>

@foreach (var ev in Model.ShowEventsViewModel)
{
    <div class="eventsWidget col-8">
        <div class="rowEvents">
            <h2>Event - @ev.Name</h2>
            <div>
                <a href="ChangeEvent?eventId=@ev.Guid">
                    <img id=changeButton src="~/Images/Wrench.png" />
                </a>
                <a href="RemoveEvent?eventId=@ev.Guid">
                    <img id=removeButton src="~/Images/RemoveRedCrossImage.jpg" />
                </a>
            </div>
        </div>
        <h4>Address - @ev.Address</h4>
        <div class="rowEvents">
            <h4>Starts - @ev.StartingDateTime</h4>
            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> <strong>@ev.UsersCount</strong>
            </div>
        </div>
    </div>
}