<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ignite - Become Better You</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ignite.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar autohide fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow shadow-5-strong">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                     <img id="logoName" src="~/Logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-container space-evenly">
                        <a class="flex-item" asp-area="" asp-controller="Fitnesses" asp-action="All">GYMS</a>
                        <a class="flex-item" asp-area="" asp-controller="Events" asp-action="All">EVENTS</a>
                        <a class="flex-item" asp-area="" asp-controller="Subscriptions" asp-action="All">PRICING</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="flex-item" asp-area="" asp-controller="Classes" asp-action="All">CLASSES</a>
                            <a class="flex-item" asp-area="" asp-controller="Events" asp-action="All">
                                <i class="fa-solid fa-cart-shopping fa-lg"></i>
                            </a>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <div class="dropdown">
                          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMINISTRATION
                          </a>

                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Admins" asp-action="AddFitness">Fitnesses</a></li>
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Admins" asp-action="AddClass">Classes</a></li>
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Admins" asp-action="AddEvent">Events</a></li>
                          </ul>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

        @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Ignite
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
